html {
  height: 100vh;
  overflow-x: hidden;
}

body {
  min-height: 100vh;

  font-family: 'Lato', sans-serif;
  text-align: center;

  background-color: rgb(238,238,238);

  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(36, 219, 158);
  font-weight: 800;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 40px;
}

.pill_button {
  border-radius: 30px;
  background: rgb(35, 219, 157);
  border: 2px solid rgb(78, 195, 156);
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 12px;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 3px 3px 15px 0px rgba(111, 111, 111, 0.32);
}

.pill_button:hover {
  box-shadow: 3px 17px 20px 6px rgba(111, 111, 111, 0.21);
}

.pill_button:i {
  margin: 0px 8px 0px 8px;
}

#scan_section {
  position: fixed;
  bottom: 30px;
  width: 100%;
}

#top_section {
  padding: 40px;
  padding-top:80px;
}

#top_section p {
  color: rgb(117, 126, 135);
  font-size: 18px;
  font-weight: 600;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 80px;
}

#logo svg {
  fill:rgb(36, 219, 158);
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

#landing {
  background-image: url('../img/background.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-color: rgb(238,238,238); */
  background-size: cover;
}

#content {
  display: none;
}

.card {
  border-radius: 15px;
  box-shadow: 3px 3px 15px 0px rgba(111, 111, 111, 0.32);

  height: 100%;
  width: 100%;

  background: white;
  margin: 0 auto;

  overflow: hidden;
}

h2 {
  font-variant: none;
  text-align: left;
  padding-left: 20px;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 35px;
  color: gray;
  color: rgb(93, 99, 105);
  letter-spacing: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px;
}

header {
  height: 300px;
  background: rgb(36, 219, 158);
  position: relative;
  margin-bottom: 280px;
}

header h1 {
  color: white;
  font-weight: 900;
  font-variant: none;
  margin: 0;
  padding: 16px;
  text-align: left;
  font-size: 1.5rem;
  padding-top: 30px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
}


header h1:hover {
  color: #eeeeee;
  cursor: pointer;
}

header .card {
  position: absolute;
  left: calc(50% - 45vw);
  top: 50%;
  width: 90vw;
  height: 400px;
  /* margin-bottom: 200px; */
}

#best_result {
  background-position: center;
  background-size: cover;
  border: 1px solid whitesmoke;
}

#collection {
  list-style: none;
  min-height: 75vh;
  padding: 0;
  /* padding: 8px; */
  margin-bottom: 20px;
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  padding-top: 20px;
  margin-top: 0;
}

#collection .card {
  width: 40vw;
  height: 35vw;
  /* float: left; */
  /* margin: 12px; */
  /* margin: 12px auto; */
  background-position: center;
  background-size: cover;
  /* float: left; */
  /* margin: auto; */
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  flex: none;
  margin: 0px 12px;
  text-align: left;
}

#collection .card:hover {
  box-shadow: 3px 17px 20px 9px rgba(111, 111, 111, 0.21);
}

.card .label {
  font-weight: 700;
  font-size: 1.15rem;
  color: #ffffff;
  text-align: left;
  padding: 0px 12px;
  background: #5d6368de;
  border: 2px solid;
  width: auto;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-variant: all-small-caps;
  padding: 1px 5px 5px 5px;  
}